body {
    background-color: black;
    margin: 0 300px 0 300px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header, .first, footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 24px 125px 30px 125px;
}

h4 {
    padding: 0;
    margin: 0;
    color: #F9FAF8;
    font-size: 24px;
}

.header-links a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 18px;
}

.header-links {
    display: flex;
    gap: 16px;
}

.first {
    display: flex;
    justify-content: space-between;
    padding: 0 125px 75px 125px;
    gap: 32px;
}

img {
    flex: 1;
}

.signup-container {
    flex: 1;
}

.about {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 36px;
    margin-top: 0;
}

.second,
.forth {
    background-color: white;
}

figure {
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 16px;
    padding: 0 175px 207px 175px;
    margin: 0;
}

.image-1, 
.image-2,
.image-3,
.image-4 {
    display: flex;
    width: 160px;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    text-align: center;
}

.third {
    height: 340px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 250px 0 250px;
    
}

.quote-author {
    width: 1000px;
}

.quote {
    display: flex;
    justify-content: stretch;
    font-size: 36px;    
    font-style: italic;
    color: #1F2937;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 24px;
    margin-right: 38px;
}

.forth {
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    background-color: #3882F6;
    display: flex;
    width: 1100px;
    height: 110px;
    border: solid 4px #3882F6;
    padding: 0 100px 0 100px;
    border-radius: 12px;
    justify-content: space-between;
}

.left-side {
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    justify-content: center;
}

h3 {
    margin: 0;
}

.left-side p {
    margin: 0;
}

button {
    background-color: #3882F6;
    padding: 4px 16px;
    color: white;
    border: solid 2px #F9FAF8;
    border-radius: 8px;
    font-weight: 600;
    margin-top: 35px;
    margin-bottom: 35px;
}

.image-1 img,
.image-2 img,
.image-3 img,
.image-4 img {
    border: solid 4px #3882F6;
    border-radius: 15px;
    width: 160px;
    height: 160px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}